    <h2>ID : {{capsule.id}}</h2>
    <h3>Landings : {{capsule.landings}}</h3>
    <h3>Missions : {{capsule.mission}}</h3>
    <h3>Original Launch Date :{{capsule.original_launch | formatDate}}</h3>
    <h3>Reuse Count : {{capsule.reuse_count}}</h3>
    <h3>Capsule Status : {{capsule.status}}</h3>
    <h3>Capsule Type : {{capsule.type}}</h3>